body {
    width: 100vw;
    height: 100vh;
}

.container-flex {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header-flex {
        display: flex;
        flex-direction: row;
        background-color: $nav;

        .item {
            padding: 0 1rem;
            flex-grow: 1;
            h2, h1 {
                font-size: 1rem;
            }

            &__brand {
                text-align: center;
                display: none;
            }

            &__user {
                text-align: right;
            }
        }

    }

    .nav-flex {
        width: 100%;
        display: flex;
        flex-direction: row;

        .item {
            border-bottom: 0.1rem solid grey;
            border-top: 0.1rem solid grey;
            flex-grow: 1;
            text-align: center;
            font-size: 0.8rem;

            &:not(:last-child) {
                border-right: 0.1rem solid grey;
            }
        }

    }

    @media(min-width: 37.5rem) {
        .header-flex {
            .item {
                &__brand {
                    display: initial;
                }
            }
        }
    }

    @media(max-width: 37.5rem) {
        .footer {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            .nav-flex {
                flex-basis: auto;
                flex-wrap: wrap;
                justify-content: space-between;
                background-color: grey;
                padding: 0 0.2rem;
                .item {
                    flex-grow: 1;
                    padding: 0.2rem;
                    margin: 0.1rem;
                    background-color: white;
                }

                h3 {
                    font-size: 0.6rem;
                }
            }
        }
    }
 }
